<tabset justified="true" ng-if="hasAccess">
    <tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="tab.active">
        <div ng-if="tab.number == 0">
            <nav class="navbar navbar-default">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li>
                            <button class="btn btn-default navbar-btn" ng-click="mapTools.undo()">
                                <span class="fa fa-reply"></span> Undo
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default navbar-btn" ng-click="mapTools.redo()">
                                <span class="fa fa-share"></span> Redo
                            </button>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" ng-show="mapTools.current == 'selector'">
                        <li>
                            <button class="btn btn-default navbar-btn" ng-click="mapTools.helper('hAlignCenter')">
                                <span class="fa fa-align-center"></span> Horizontal Align Center
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default navbar-btn" ng-click="mapTools.helper('vAlignCenter')">
                                <span class="fa fa-align-center fa-rotate-90"></span> Vertical Align Center
                            </button>
                        </li>
                    </ul>


                </div>
            </nav>

            <div class="row">
                <div class="col-md-10" style="height: 600px;">
                    <map></map>
                </div>
            </div>
        </div>
        <div ng-if="tab.number == 1" >
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3>Buildings</h3>
                    <div class="row sdOpen">
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="gorgas" ng-model="newBldg.name"
                                   maxlength="20">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Gorgas Library" ng-model="newBldg.title"
                                   maxlength="100">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" ng-click="createBuilding(newBldg)" ng-disabled="uploading">
                                <span class="fa fa-fw fa-plus"></span>
                            </button>
                        </div>
                        {{formResponse}}
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="building in buildings">
                            <td class="clickable" ng-if="selBldg !== $index" ng-click="openBuilding($index)">
                                <span>
                                    {{building.name}}
                                </span>
                            </td>
                            <td class="clickable" ng-if="selBldg !== $index" ng-click="openBuilding($index)">
                                <span>
                                    {{building.title}}
                                </span>
                            </td>
                            <td class="sdOpen" colspan="2" ng-if="selBldg == $index">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="gorgas" ng-model="building.name"
                                                   maxlength="20">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Gorgas Library" ng-model="building.title"
                                                   maxlength="100">
                                        </td>
                                        <td style="width:120px;">
                                            <button type="button" class="btn btn-success" ng-click="updateBuilding(building)" ng-disabled="uploading">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger" ng-click="deleteBuilding(building)" ng-disabled="uploading">
                                                <span class="fa fa-fw fa-trash-o"></span>
                                            </button>
                                            <div>
                                                {{building.formResponse}}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <h4>Floors <small>{{building.title}}</small></h4>
                                <div class="row sdOpen">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="first" ng-model="newFloor.name"
                                               maxlength="20">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="First Floor" ng-model="newFloor.title"
                                               maxlength="100">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-success" ng-click="createFloor(newFloor)" ng-disabled="uploading">
                                            <span class="fa fa-fw fa-plus"></span>
                                        </button>
                                    </div>
                                    {{formResponse}}
                                </div>

                                <table class="table table-hover">
                                    <tbody>
                                    <tr ng-repeat="floor in building.floors">
                                        <td class="clickable" ng-if="selFloor !== $index" ng-click="openFloor($index)">
                                            <span>
                                                {{floor.name}}
                                            </span>
                                        </td>
                                        <td class="clickable" ng-if="selFloor !== $index" ng-click="openFloor($index)">
                                            <span>
                                                {{floor.title}}
                                            </span>
                                        </td>
                                        <td colspan="2" ng-if="selFloor == $index">
                                            <table class="table sdOpen">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="form-control" placeholder="2m" ng-model="floor.name"
                                                               maxlength="20">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" placeholder="Second Floor Mezzanine" ng-model="floor.title"
                                                               maxlength="100">
                                                    </td>
                                                    <td style="width:120px;">
                                                        <button type="button" class="btn btn-success" ng-click="updateFloor(floor)" ng-disabled="uploading">
                                                            <span class="fa fa-fw fa-edit"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger" ng-click="deleteFloor(floor)" ng-disabled="uploading">
                                                            <span class="fa fa-fw fa-trash-o"></span>
                                                        </button>
                                                        <div>
                                                            {{floor.formResponse}}
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-3">
                    <h4>Computers <small>{{buildings[selBldg].name}}:{{buildings[selBldg].floors[selFloor].name}}</small></h4>

                    <div class="row" ng-repeat="comp in buildings[selBldg].floors[selFloor].desktops">
                        {{comp.name}}
                    </div>

                </div>
                <div class="col-sm-12 col-md-3">
                    <h4>Unassigned Computers</h4>
                </div>
            </div>
        </div>
    </tab>
</tabset>
<div ng-if="!hasAccess">
    <h3>Sorry, you don't have permissions to edit computers</h3>
</div>
